*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}

.secTodo{
    height: 100vh;
    background-image: url(imagenes/portada/portada2.jpg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.card__master{
    width: 90%;
    overflow: hidden;
    overflow-y: scroll;
    height: 600px;
    /* background-color: blue; */
    background-color: #fff;
    box-shadow: 0 0 35px rgb(0, 0, 0);
    border-radius: 15px;
}


.cotizador{
    /* height: 800px; */
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    justify-content: center;
}
.duplicar{
    display: block;
    /* margin: auto;
    height: 600px; */

    margin-left: 105px;
}

.Modificar_div{

    color: #2d2d2e;
    /* border-bottom: 1px solid #000; */
    width: 80%;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    
    font-size: 25px;
}

.inputs_tarjeta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.inputs_tarjeta input{
    width: 50%;
    padding: 20px 95px 20px 95px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(99, 98, 98);
}

.cargar_img{
    margin-top: 15px;
    height: 450px;
    /* border: 1px solid #0066ff; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950px;
}

.inputs_tarjeta select{
    padding: 20px 50px 20px 50px;
    background-color: #0066ff;
    cursor: pointer;
    color: #fff;
}


.input_boton{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.input_boton input{
    padding: 20px 50px 20px 50px;
    border: none;
    color: #fff;
    background-color: #0066ff;
}

.card__secciones{
    display: flex;
}

.chico{
    height: 400px;
}

.firstcard__all{
    background-image:linear-gradient(to right,#013d96d5,#0066ff), url(imagenes/lugares/newYork.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 50px;
    /* border-radius: 15px; */
    color: #fff;

}

.firstcard__all h1{
    /* margin-top: 50px; */
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 35px;
}

.firstcard__all p{
    width: 600px;
    font-size: 18px;
    margin-left: 15px;

}

.sectcard__all{
    padding-top: 50px;
    background-image: url(imagenes/wave/wave.svg);
    overflow: hidden;
    height: 615px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.sectcard__all input:first-child{

    width: 450px;
    margin-left: 25px;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    border-bottom: 2px solid #000;
}

.boton{
    /* margin-right: 15px; */
    margin-left: 15px;
    margin-right: 5px;
    border: none;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    background-color: rgb(0, 153, 255);
    color: #fff;
    border-radius: 2px;
}

.mostrar{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

    align-items: center;
    margin-top: 15px;
    padding-bottom: 150px;
}

.card{
    height: 420px;
    width: 300px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.card ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.card ul li{
    font-size: 20px;
    padding-bottom: 5px;
}

.card img{
    width: 100%;
    height: 250px;
}

.botonCompra{
    width: 50%;
    padding: 20px 25px 20px 25px;
    background-color: #0066ff;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    /* margin-left: 10px; */
    text-decoration: none;
    /* margin: auto; */
}

.botonCompra:hover{
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    /* transition: (500ms); */
}

.errorlista{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 20px 50px;
    background-color: rgb(243, 10, 10);
    color: #fff;
}

.listaPublicar{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    list-style: none;
}

.textosul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #7a7a79;
    /* height: 100px; */
    font-size: 25px;
    margin-bottom: 25px;
}

.chicoDos{
    height: 400px;
    margin-bottom: 215px;
}
#viaje{
    width: 90%;
    text-align: center;
    /* border: none; */
    /* border-bottom: 1px solid #2d2d2d; */
    font-weight: bold;
    color: #000;
    font-size: 25px;
    margin-top: 15px;
}
